/.idea
/*/bin
/*/obj
/*/Content/bin
/*/Content/obj
AntSimulator.sln.DotSettings.user
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.aux
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.fdb_latexmk
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.fls
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.idx
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.ilg
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.ind
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.log
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.out
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.synctex.gz
Documents/CompteRendu/Projet_Di4_PPGL_Chana_Pecault.toc
q.log
texput.log
